@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import "tailwindcss";

html {
    transition: background-color 0.2s, color 0.2s;
    font-family: "Parkinsans", sans-serif;
}

/* Set the default theme */
html.light {
    background-color: white;
    color: #001933;
}

html.dark {
    background-color: #001933;
    /* Dark gray */
    color: white;
}

.primary-text {
    color: #FF6E00;
}

.secondary-text {
    color: #001933;
}

.primary-bg {
    background: #FF6E00;
}

a.active {
    color: #FF8C00;
}